<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,234},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>Eyes_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,234},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>Eyesx.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,234},{50,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,14}}</string>
                <key>sourceSize</key>
                <string>{50,14}</string>
            </dict>
            <key>Eyesxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,108},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>Eyesxxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,236},{32,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,11}}</string>
                <key>sourceSize</key>
                <string>{32,11}</string>
            </dict>
            <key>Hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,182},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>Hair_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,105},{77,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,99}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
            <key>Hair_1x.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,105},{77,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,99}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
            <key>Hairxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,182},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,181},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>LArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,206},{29,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,43}}</string>
                <key>sourceSize</key>
                <string>{29,43}</string>
            </dict>
            <key>LEar.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,184},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>LForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,144},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>LLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,236},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>LLeg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,205},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>LShoulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,207},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>LShoulder_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>MainWeapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,216},{38,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,49}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>MainWeapon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,205},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>MainWeapon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,226},{10,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{10,24}</string>
            </dict>
            <key>Mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,236},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>RArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,206},{25,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,42}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>REar.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,234},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>RForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,216},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>RLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,241},{15,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,12}}</string>
                <key>sourceSize</key>
                <string>{15,12}</string>
            </dict>
            <key>RLeg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,233},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,184},{75,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,30}}</string>
                <key>sourceSize</key>
                <string>{77,32}</string>
            </dict>
            <key>TorsoBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,21}}</string>
                <key>sourceSize</key>
                <string>{51,21}</string>
            </dict>
            <key>TorsoTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,108},{67,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,72}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>daoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{101,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,192}}</string>
                <key>sourceSize</key>
                <string>{101,192}</string>
            </dict>
            <key>defend_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,177}}</string>
                <key>sourceSize</key>
                <string>{159,177}</string>
            </dict>
            <key>defend_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{119,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,177}}</string>
                <key>sourceSize</key>
                <string>{119,177}</string>
            </dict>
            <key>defend_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{129,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,104}}</string>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>ditan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{213,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,51}}</string>
                <key>sourceSize</key>
                <string>{213,51}</string>
            </dict>
            <key>koushui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,55},{47,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,22}}</string>
                <key>sourceSize</key>
                <string>{47,22}</string>
            </dict>
            <key>light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,108},{64,95}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,95}}</string>
                <key>sourceSize</key>
                <string>{66,95}</string>
            </dict>
            <key>pingguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,226},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>sadas.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,234},{40,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,14}}</string>
                <key>sourceSize</key>
                <string>{40,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.png</string>
            <key>size</key>
            <string>{634,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c997bce14d5112ec575f2c3eba02c1b1:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.png</string>
        </dict>
    </dict>
</plist>
