<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Body.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,709},{217,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,260}}</string>
                <key>sourceSize</key>
                <string>{217,260}</string>
            </dict>
            <key>Body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,943},{217,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,155}}</string>
                <key>sourceSize</key>
                <string>{217,155}</string>
            </dict>
            <key>Body3.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,923},{153,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,133}}</string>
                <key>sourceSize</key>
                <string>{153,133}</string>
            </dict>
            <key>Eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1293},{58,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,23}}</string>
                <key>sourceSize</key>
                <string>{58,23}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,767},{173,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,174}}</string>
                <key>sourceSize</key>
                <string>{173,174}</string>
            </dict>
            <key>Head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1313},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>Head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1064},{81,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,93}}</string>
                <key>sourceSize</key>
                <string>{81,93}</string>
            </dict>
            <key>Head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,776},{157,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,145}}</string>
                <key>sourceSize</key>
                <string>{157,145}</string>
            </dict>
            <key>Head_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,828},{97,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,121}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>Head_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1225},{216,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,170}}</string>
                <key>sourceSize</key>
                <string>{216,170}</string>
            </dict>
            <key>LArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1335},{60,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,107}}</string>
                <key>sourceSize</key>
                <string>{60,107}</string>
            </dict>
            <key>LForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1159},{152,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,141}}</string>
                <key>sourceSize</key>
                <string>{152,141}</string>
            </dict>
            <key>LForearm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1315},{32,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,62}}</string>
                <key>sourceSize</key>
                <string>{32,62}</string>
            </dict>
            <key>LForearm_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1162},{26,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,58}}</string>
                <key>sourceSize</key>
                <string>{26,58}</string>
            </dict>
            <key>LForearm_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1293},{26,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{26,57}</string>
            </dict>
            <key>RForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,629},{66,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,96}}</string>
                <key>sourceSize</key>
                <string>{66,96}</string>
            </dict>
            <key>RForearm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1293},{27,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,64}}</string>
                <key>sourceSize</key>
                <string>{27,64}</string>
            </dict>
            <key>RForearm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1315},{28,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,78}}</string>
                <key>sourceSize</key>
                <string>{28,78}</string>
            </dict>
            <key>RForearm_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1322},{36,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,73}}</string>
                <key>sourceSize</key>
                <string>{36,73}</string>
            </dict>
            <key>RForearm_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1318},{27,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,54}}</string>
                <key>sourceSize</key>
                <string>{27,54}</string>
            </dict>
            <key>Sapling.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,776},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,300},{327,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{327,98}}</string>
                <key>sourceSize</key>
                <string>{337,104}</string>
            </dict>
            <key>Tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{304,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,293}}</string>
                <key>sourceSize</key>
                <string>{304,293}</string>
            </dict>
            <key>Tree1_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1025},{308,104}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{308,104}}</string>
                <key>sourceSize</key>
                <string>{312,106}</string>
            </dict>
            <key>Tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{449,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,296}}</string>
                <key>sourceSize</key>
                <string>{449,296}</string>
            </dict>
            <key>dilie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1025},{288,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,68}}</string>
                <key>sourceSize</key>
                <string>{288,68}</string>
            </dict>
            <key>dilietx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1025},{368,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,186}}</string>
                <key>sourceSize</key>
                <string>{368,186}</string>
            </dict>
            <key>dilietx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,300},{252,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,64}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>eyes_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,971},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>eyes_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,573},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>eyes_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,507},{57,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,20}}</string>
                <key>sourceSize</key>
                <string>{57,20}</string>
            </dict>
            <key>light_E_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,554},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>light_E_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1164},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>light_E_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,297},{245,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,245}}</string>
                <key>sourceSize</key>
                <string>{245,245}</string>
            </dict>
            <key>light_E_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,709},{317,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,314}}</string>
                <key>sourceSize</key>
                <string>{317,314}</string>
            </dict>
            <key>light_E_ball_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,927},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>shengbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1064},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>shengtssas.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{334,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,407}}</string>
                <key>sourceSize</key>
                <string>{334,407}</string>
            </dict>
            <key>shitou.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1313},{59,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,63}}</string>
                <key>sourceSize</key>
                <string>{59,63}</string>
            </dict>
            <key>ssss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,2},{293,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,233}}</string>
                <key>sourceSize</key>
                <string>{293,233}</string>
            </dict>
            <key>ssss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,507},{230,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,119}}</string>
                <key>sourceSize</key>
                <string>{230,119}</string>
            </dict>
            <key>ssss3.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1058},{107,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,99}}</string>
                <key>sourceSize</key>
                <string>{107,99}</string>
            </dict>
            <key>ssss4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,654},{83,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,37}}</string>
                <key>sourceSize</key>
                <string>{83,37}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,544},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>yezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,654},{27,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,15}}</string>
                <key>sourceSize</key>
                <string>{27,15}</string>
            </dict>
            <key>youshou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,628},{198,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,83}}</string>
                <key>sourceSize</key>
                <string>{198,83}</string>
            </dict>
            <key>youshou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,971},{252,186}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{252,186}}</string>
                <key>sourceSize</key>
                <string>{252,188}</string>
            </dict>
            <key>youshou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,297},{236,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,208}}</string>
                <key>sourceSize</key>
                <string>{236,208}</string>
            </dict>
            <key>youshoux.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1162},{158,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,135}}</string>
                <key>sourceSize</key>
                <string>{158,135}</string>
            </dict>
            <key>zuoshou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1322},{130,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,68}}</string>
                <key>sourceSize</key>
                <string>{130,68}</string>
            </dict>
            <key>zuoshou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,628},{171,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,146}}</string>
                <key>sourceSize</key>
                <string>{171,146}</string>
            </dict>
            <key>zuoshoushuaxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,544},{221,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,185}}</string>
                <key>sourceSize</key>
                <string>{221,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.pvr</string>
            <key>size</key>
            <string>{1007,1397}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34a98e537408e998e1b00135a295e378:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.pvr</string>
        </dict>
    </dict>
</plist>
