<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,61},{41,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,24}}</string>
                <key>sourceSize</key>
                <string>{41,24}</string>
            </dict>
            <key>444444.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,2},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{70,51}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,51}}</string>
                <key>sourceSize</key>
                <string>{74,51}</string>
            </dict>
            <key>Head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>LLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,85},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>LLeg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,85},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>LWing.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{97,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,104}}</string>
                <key>sourceSize</key>
                <string>{97,104}</string>
            </dict>
            <key>LWing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,2},{92,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,76}}</string>
                <key>sourceSize</key>
                <string>{92,76}</string>
            </dict>
            <key>LWing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,2},{79,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,57}}</string>
                <key>sourceSize</key>
                <string>{79,57}</string>
            </dict>
            <key>LWing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,2},{66,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{66,82}</string>
            </dict>
            <key>LWing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,2},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>LWing_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{125,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,53}}</string>
                <key>sourceSize</key>
                <string>{125,53}</string>
            </dict>
            <key>RLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,85},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>RLeg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,85},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>RWing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{57,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,97}}</string>
                <key>sourceSize</key>
                <string>{57,97}</string>
            </dict>
            <key>RWing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,56},{47,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,68}}</string>
                <key>sourceSize</key>
                <string>{47,68}</string>
            </dict>
            <key>RWing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{52,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,69}}</string>
                <key>sourceSize</key>
                <string>{52,69}</string>
            </dict>
            <key>RWing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,57},{44,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,83}}</string>
                <key>sourceSize</key>
                <string>{44,83}</string>
            </dict>
            <key>RWing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,48},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>RWing_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,2},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,57},{102,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,43}}</string>
                <key>sourceSize</key>
                <string>{102,43}</string>
            </dict>
            <key>Tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,67},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>Tail_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,78},{39,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,24}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>Tail_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{40,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,25}}</string>
                <key>sourceSize</key>
                <string>{40,25}</string>
            </dict>
            <key>Tail_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,61},{45,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,22}}</string>
                <key>sourceSize</key>
                <string>{45,22}</string>
            </dict>
            <key>Tail_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,61},{39,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,24}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>Tail_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,68},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>Tail_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>TorsoTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,2},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>cgbcb.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,67},{77,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,33}}</string>
                <key>sourceSize</key>
                <string>{77,33}</string>
            </dict>
            <key>cgbcbdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,67},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,28}</string>
            </dict>
            <key>cgbdfv.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,2},{101,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,82}}</string>
                <key>sourceSize</key>
                <string>{101,82}</string>
            </dict>
            <key>cvbvbvb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{70,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,81}}</string>
                <key>sourceSize</key>
                <string>{70,81}</string>
            </dict>
            <key>cvcvcvc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,2},{64,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,93}}</string>
                <key>sourceSize</key>
                <string>{64,93}</string>
            </dict>
            <key>dbdzvd .png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{102,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,107}}</string>
                <key>sourceSize</key>
                <string>{102,107}</string>
            </dict>
            <key>dcfbcv.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>ddfgddddfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,2},{77,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,98}}</string>
                <key>sourceSize</key>
                <string>{77,98}</string>
            </dict>
            <key>dfbgdfgfdg.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,55},{61,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,43}}</string>
                <key>sourceSize</key>
                <string>{61,43}</string>
            </dict>
            <key>dfdgd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,96}}</string>
                <key>sourceSize</key>
                <string>{119,96}</string>
            </dict>
            <key>dfgdgdg.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{63,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,165}}</string>
                <key>sourceSize</key>
                <string>{63,165}</string>
            </dict>
            <key>drfgfgfd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,85},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>fcgbcfb .png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,2},{99,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,78}}</string>
                <key>sourceSize</key>
                <string>{99,78}</string>
            </dict>
            <key>ffhhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,2},{64,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,55}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>fghfh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,92},{27,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,11}</string>
            </dict>
            <key>fhnghb.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,2},{46,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,27}}</string>
                <key>sourceSize</key>
                <string>{46,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.pvr</string>
            <key>size</key>
            <string>{2024,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2569f3c54e6a49e38e80d28fd1060cb4:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.pvr</string>
        </dict>
    </dict>
</plist>
