<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>111.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{229,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,134}}</string>
                <key>sourceSize</key>
                <string>{229,134}</string>
            </dict>
            <key>222.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,597},{198,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,173}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>333.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,233},{235,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,150}}</string>
                <key>sourceSize</key>
                <string>{235,150}</string>
            </dict>
            <key>444.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,797},{207,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,149}}</string>
                <key>sourceSize</key>
                <string>{207,149}</string>
            </dict>
            <key>6666.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,200}}</string>
                <key>sourceSize</key>
                <string>{360,200}</string>
            </dict>
            <key>777.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{340,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,216}}</string>
                <key>sourceSize</key>
                <string>{340,216}</string>
            </dict>
            <key>888.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{299,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,173}}</string>
                <key>sourceSize</key>
                <string>{299,173}</string>
            </dict>
            <key>Backpack.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,619},{18,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,78}}</string>
                <key>sourceSize</key>
                <string>{18,78}</string>
            </dict>
            <key>Eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,585},{36,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,10}}</string>
                <key>sourceSize</key>
                <string>{36,10}</string>
            </dict>
            <key>FFGH.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1164},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1227},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,82}</string>
            </dict>
            <key>Head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1266},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>Head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1143},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,82}</string>
            </dict>
            <key>Head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1176},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,82}</string>
            </dict>
            <key>LEar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1281},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>LForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1266},{23,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,39}}</string>
                <key>sourceSize</key>
                <string>{23,39}</string>
            </dict>
            <key>LLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,797},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>LLeg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1125},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>MainWeapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,998},{29,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,125}}</string>
                <key>sourceSize</key>
                <string>{29,125}</string>
            </dict>
            <key>MainWeapon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1166},{49,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,161}}</string>
                <key>sourceSize</key>
                <string>{49,161}</string>
            </dict>
            <key>RArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1041},{17,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,31}}</string>
                <key>sourceSize</key>
                <string>{17,31}</string>
            </dict>
            <key>REar.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,998},{17,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,41}}</string>
                <key>sourceSize</key>
                <string>{17,41}</string>
            </dict>
            <key>RForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,422},{24,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,39}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>RLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1266},{37,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>RLeg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1074},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,998},{102,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,43}}</string>
                <key>sourceSize</key>
                <string>{102,43}</string>
            </dict>
            <key>TorsoTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,826},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>ddddddfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1196},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>ddfgfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,948},{213,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{213,75}}</string>
                <key>sourceSize</key>
                <string>{215,75}</string>
            </dict>
            <key>dffd.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,998},{143,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,36}}</string>
                <key>sourceSize</key>
                <string>{143,36}</string>
            </dict>
            <key>edeee.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,448},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>ertgrt.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,699},{27,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>fcbvcb.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,619},{32,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,270}}</string>
                <key>sourceSize</key>
                <string>{32,270}</string>
            </dict>
            <key>fghfghfh.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1217},{148,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,47}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>fttytytyt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{243,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,153}}</string>
                <key>sourceSize</key>
                <string>{243,153}</string>
            </dict>
            <key>gfhhg.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1025},{149,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,40}}</string>
                <key>sourceSize</key>
                <string>{149,40}</string>
            </dict>
            <key>ggggg.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,619},{205,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,55}}</string>
                <key>sourceSize</key>
                <string>{205,55}</string>
            </dict>
            <key>qizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1102},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{54,60}</string>
            </dict>
            <key>seffdf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{216,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,195}}</string>
                <key>sourceSize</key>
                <string>{216,195}</string>
            </dict>
            <key>shap.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,470},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>sssdfd.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,470},{90,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,113}}</string>
                <key>sourceSize</key>
                <string>{90,113}</string>
            </dict>
            <key>wggg.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,908},{88,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,119}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>xvcvv.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1025},{172,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,139}}</string>
                <key>sourceSize</key>
                <string>{172,139}</string>
            </dict>
            <key>yyyy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1039},{240,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,155}}</string>
                <key>sourceSize</key>
                <string>{240,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.pvr</string>
            <key>size</key>
            <string>{508,1296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:643390f132047d39f4267212c31490d3:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.pvr</string>
        </dict>
    </dict>
</plist>
