<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,63},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>Eyes1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>Eyes2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,66},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>Eyes3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,66},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>Eyes_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,108},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>Head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>Head_2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>Head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,108},{10,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,5}}</string>
                <key>sourceSize</key>
                <string>{10,5}</string>
            </dict>
            <key>Head_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,86},{9,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,4}}</string>
                <key>sourceSize</key>
                <string>{9,4}</string>
            </dict>
            <key>Head_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{63,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,89}}</string>
                <key>sourceSize</key>
                <string>{63,89}</string>
            </dict>
            <key>LArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,97},{7,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,13}}</string>
                <key>sourceSize</key>
                <string>{7,13}</string>
            </dict>
            <key>LEar.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,102},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>LEar_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,101},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>LForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,108},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>LLeg_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,112},{9,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,12}</string>
            </dict>
            <key>LLeg_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,112},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>LLeg_2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,100},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>LLeg_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,99},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>LShoulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,100},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>LWing_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,86},{41,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,20}}</string>
                <key>sourceSize</key>
                <string>{41,20}</string>
            </dict>
            <key>LWing_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,66},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>LWing_1_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,67},{21,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,44}}</string>
                <key>sourceSize</key>
                <string>{21,44}</string>
            </dict>
            <key>MainWeapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,83},{38,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,53}}</string>
                <key>sourceSize</key>
                <string>{38,53}</string>
            </dict>
            <key>MainWeapon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,67},{17,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,69}}</string>
                <key>sourceSize</key>
                <string>{17,69}</string>
            </dict>
            <key>MainWeapon_2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,47},{31,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,74}}</string>
                <key>sourceSize</key>
                <string>{31,74}</string>
            </dict>
            <key>MainWeapon_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>RArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,112},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>REar.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,84},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>REar_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,84},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>RForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,111},{9,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,15}}</string>
                <key>sourceSize</key>
                <string>{9,15}</string>
            </dict>
            <key>RLeg_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,114},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>RLeg_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,113},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>RLeg_2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,112},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>RLeg_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,113},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>RShoulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,36},{25,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,12}}</string>
                <key>sourceSize</key>
                <string>{25,12}</string>
            </dict>
            <key>RWing_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,86},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>RWing_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,65},{14,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,39}}</string>
                <key>sourceSize</key>
                <string>{14,39}</string>
            </dict>
            <key>RWing_1_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{14,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,39}}</string>
                <key>sourceSize</key>
                <string>{14,39}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,43}}</string>
                <key>sourceSize</key>
                <string>{102,43}</string>
            </dict>
            <key>Tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,107},{21,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,14}}</string>
                <key>sourceSize</key>
                <string>{21,14}</string>
            </dict>
            <key>TorsoBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,106},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,15}</string>
            </dict>
            <key>TorsoTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,83},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>daikou.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,100},{16,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,11}}</string>
                <key>sourceSize</key>
                <string>{16,11}</string>
            </dict>
            <key>daikou_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,100},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>daizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,83},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>daizi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,113},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>mao.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,97},{6,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,4}}</string>
                <key>sourceSize</key>
                <string>{6,4}</string>
            </dict>
            <key>qiuer.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,65},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>si3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,84},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.pvr</string>
            <key>size</key>
            <string>{510,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad9ac0c8bae6df89b852803fc3d18af9:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.pvr</string>
        </dict>
    </dict>
</plist>
