<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ear.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,320},{38,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,14}}</string>
                <key>sourceSize</key>
                <string>{38,14}</string>
            </dict>
            <key>Eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,210},{24,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,9}}</string>
                <key>sourceSize</key>
                <string>{24,9}</string>
            </dict>
            <key>Eyes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,461},{24,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,11}}</string>
                <key>sourceSize</key>
                <string>{24,11}</string>
            </dict>
            <key>Hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,704},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>Hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{58,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,51}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,959},{45,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>Head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,959},{45,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>Head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,820},{45,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>Head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,766},{45,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>LArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,522},{10,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,21}}</string>
                <key>sourceSize</key>
                <string>{10,21}</string>
            </dict>
            <key>LForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,508},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>LLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,360},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,24}</string>
            </dict>
            <key>LLeg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,386},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>LShoulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,920},{42,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,29}}</string>
                <key>sourceSize</key>
                <string>{42,29}</string>
            </dict>
            <key>MainWeapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{55,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,41}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>Manteau.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,874},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>RArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,568},{11,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{11,20}</string>
            </dict>
            <key>RForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,437},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>RLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,474},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>RLeg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,412},{13,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,23}}</string>
                <key>sourceSize</key>
                <string>{13,23}</string>
            </dict>
            <key>RShoulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,534},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,627},{75,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,30}}</string>
                <key>sourceSize</key>
                <string>{77,32}</string>
            </dict>
            <key>TorsoBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,610},{32,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,15}}</string>
                <key>sourceSize</key>
                <string>{32,15}</string>
            </dict>
            <key>TorsoTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,581},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>gquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{110,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,108}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{73,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,127}}</string>
                <key>sourceSize</key>
                <string>{73,127}</string>
            </dict>
            <key>huan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>jj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>qqq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{91,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,111}}</string>
                <key>sourceSize</key>
                <string>{91,111}</string>
            </dict>
            <key>shuaxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{105,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,129}}</string>
                <key>sourceSize</key>
                <string>{105,129}</string>
            </dict>
            <key>shuaxiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{94,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,125}}</string>
                <key>sourceSize</key>
                <string>{94,125}</string>
            </dict>
            <key>shuaxiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{83,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,73}}</string>
                <key>sourceSize</key>
                <string>{83,73}</string>
            </dict>
            <key>xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{3,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,85}}</string>
                <key>sourceSize</key>
                <string>{3,85}</string>
            </dict>
            <key>xiongbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,491},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,15}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>zhuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,920},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>zui.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,89},{7,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,2}}</string>
                <key>sourceSize</key>
                <string>{7,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.png</string>
            <key>size</key>
            <string>{125,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93eecc365a4a3cbdd2f2cfbe65d918d5:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.png</string>
        </dict>
    </dict>
</plist>
