<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1181},{22,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,7}}</string>
                <key>sourceSize</key>
                <string>{22,7}</string>
            </dict>
            <key>Eyes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1162},{22,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,17}}</string>
                <key>sourceSize</key>
                <string>{22,17}</string>
            </dict>
            <key>Eyes_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1190},{19,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{19,10}</string>
            </dict>
            <key>Eyes_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1214},{9,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,6}}</string>
                <key>sourceSize</key>
                <string>{9,6}</string>
            </dict>
            <key>Eyes_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1190},{18,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,9}}</string>
                <key>sourceSize</key>
                <string>{18,9}</string>
            </dict>
            <key>Eyes_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1176},{22,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,7}}</string>
                <key>sourceSize</key>
                <string>{22,7}</string>
            </dict>
            <key>Hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1259},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>Hat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1047},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,461},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{31,41}</string>
            </dict>
            <key>LArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1285},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>LEar.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,581},{28,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,50}}</string>
                <key>sourceSize</key>
                <string>{28,50}</string>
            </dict>
            <key>LForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1148},{12,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,23}}</string>
                <key>sourceSize</key>
                <string>{12,23}</string>
            </dict>
            <key>LForearm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1148},{15,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>LLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1202},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>LLeg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1285},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>LShoulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,997},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>LShoulder_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,875},{13,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,28}}</string>
                <key>sourceSize</key>
                <string>{13,28}</string>
            </dict>
            <key>LShoulder_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1210},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>Lxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1285},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>MainWeapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,210},{20,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,39}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>MainWeapon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,875},{57,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,15}}</string>
                <key>sourceSize</key>
                <string>{57,15}</string>
            </dict>
            <key>MainWeapon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,325},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>Manteau.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{80,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,65}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>Manteau_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{80,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>Manteau_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{68,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,57}}</string>
                <key>sourceSize</key>
                <string>{68,57}</string>
            </dict>
            <key>Manteau_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{99,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,40}}</string>
                <key>sourceSize</key>
                <string>{99,40}</string>
            </dict>
            <key>Manteau_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1223},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>Manteau_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{53,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,60}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>Manteau_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{68,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,55}}</string>
                <key>sourceSize</key>
                <string>{68,55}</string>
            </dict>
            <key>Manteau_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,736},{36,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
            <key>Manteau_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,934},{46,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,61}}</string>
                <key>sourceSize</key>
                <string>{46,61}</string>
            </dict>
            <key>Manteau_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{87,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,44}}</string>
                <key>sourceSize</key>
                <string>{87,44}</string>
            </dict>
            <key>Manteau_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{86,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,46}}</string>
                <key>sourceSize</key>
                <string>{86,46}</string>
            </dict>
            <key>Manteau_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{90,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,51}}</string>
                <key>sourceSize</key>
                <string>{90,51}</string>
            </dict>
            <key>Manteau_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{92,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,57}}</string>
                <key>sourceSize</key>
                <string>{92,57}</string>
            </dict>
            <key>Manteau_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{82,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{82,66}</string>
            </dict>
            <key>Manteau_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>Manteau_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{67,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,66}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>RArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1285},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>REar.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,890},{10,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,28}}</string>
                <key>sourceSize</key>
                <string>{10,28}</string>
            </dict>
            <key>RForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1305},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>RLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1313},{8,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,17}}</string>
                <key>sourceSize</key>
                <string>{8,17}</string>
            </dict>
            <key>RLeg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,251},{9,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,20}}</string>
                <key>sourceSize</key>
                <string>{9,20}</string>
            </dict>
            <key>RShoulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,684},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>RShoulder_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1165},{9,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,22}}</string>
                <key>sourceSize</key>
                <string>{9,22}</string>
            </dict>
            <key>Rxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,153},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,504},{75,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,30}}</string>
                <key>sourceSize</key>
                <string>{77,32}</string>
            </dict>
            <key>TorsoBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1204},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>TorsoTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,902},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>dfhdfvdf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,115}}</string>
                <key>sourceSize</key>
                <string>{149,115}</string>
            </dict>
            <key>huab_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1313},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>huab_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,1313},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>img_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1027},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>img_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>img_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1091},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>img_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1147},{55,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,62}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>light_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,830},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>light_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>light_e_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,633},{49,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,28}}</string>
                <key>sourceSize</key>
                <string>{49,28}</string>
            </dict>
            <key>light_e_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,800},{45,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,28}}</string>
                <key>sourceSize</key>
                <string>{45,28}</string>
            </dict>
            <key>light_e_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,262},{42,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,23}}</string>
                <key>sourceSize</key>
                <string>{42,23}</string>
            </dict>
            <key>light_e_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,168},{40,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,13}}</string>
                <key>sourceSize</key>
                <string>{40,13}</string>
            </dict>
            <key>light_e_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,393},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>light_e_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{87,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,46}}</string>
                <key>sourceSize</key>
                <string>{87,46}</string>
            </dict>
            <key>light_e_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,306},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>light_e_ball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,432},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>light_magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1100},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>shoupa.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1305},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1185},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.pvr</string>
            <key>size</key>
            <string>{119,1323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dc64679cbcc31a2d40c6419825e6466:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.pvr</string>
        </dict>
    </dict>
</plist>
