<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,80},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>Arm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,58},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>Hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,71},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>Hair_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,103},{50,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,8}}</string>
                <key>sourceSize</key>
                <string>{50,8}</string>
            </dict>
            <key>Hair_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,84},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,25}</string>
            </dict>
            <key>Hair_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,30},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>Hair_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,67},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{46,58}</string>
            </dict>
            <key>Hair_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,104},{72,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,11}}</string>
                <key>sourceSize</key>
                <string>{72,11}</string>
            </dict>
            <key>Leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,80},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Leg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,58},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Leg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,97},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>Leg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,80},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>Leg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,80},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>MainWeapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,59},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>MainWeapon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{67,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,23}}</string>
                <key>sourceSize</key>
                <string>{67,23}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,67},{116,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,42}}</string>
                <key>sourceSize</key>
                <string>{118,44}</string>
            </dict>
            <key>TorsoTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{140,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,63}}</string>
                <key>sourceSize</key>
                <string>{140,63}</string>
            </dict>
            <key>texiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{100,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,13}}</string>
                <key>sourceSize</key>
                <string>{100,13}</string>
            </dict>
            <key>texiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,84},{211,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,23}}</string>
                <key>sourceSize</key>
                <string>{211,23}</string>
            </dict>
            <key>texiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,59},{261,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,23}}</string>
                <key>sourceSize</key>
                <string>{261,23}</string>
            </dict>
            <key>texiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,30},{285,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,27}}</string>
                <key>sourceSize</key>
                <string>{285,27}</string>
            </dict>
            <key>texiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{290,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,26}}</string>
                <key>sourceSize</key>
                <string>{290,26}</string>
            </dict>
            <key>texiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{138,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,54}}</string>
                <key>sourceSize</key>
                <string>{138,54}</string>
            </dict>
            <key>texiao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{155,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,76}}</string>
                <key>sourceSize</key>
                <string>{155,76}</string>
            </dict>
            <key>texiao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{182,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,99}}</string>
                <key>sourceSize</key>
                <string>{182,99}</string>
            </dict>
            <key>texiao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,114}}</string>
                <key>sourceSize</key>
                <string>{197,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.pvr</string>
            <key>size</key>
            <string>{1181,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82774ec24aad43318d26c123e1ddbfdf:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.pvr</string>
        </dict>
    </dict>
</plist>
