<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>111111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{116,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,93}}</string>
                <key>sourceSize</key>
                <string>{116,93}</string>
            </dict>
            <key>3534e5.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,1941},{46,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,54}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>555555555.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1330},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>Eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,56},{26,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,13}}</string>
                <key>sourceSize</key>
                <string>{26,13}</string>
            </dict>
            <key>FTGH.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1980},{46,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1964},{57,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,49}}</string>
                <key>sourceSize</key>
                <string>{57,49}</string>
            </dict>
            <key>Head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1957},{37,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,21}}</string>
                <key>sourceSize</key>
                <string>{37,21}</string>
            </dict>
            <key>Helm.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1877},{62,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,36}}</string>
                <key>sourceSize</key>
                <string>{62,36}</string>
            </dict>
            <key>LArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,34},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>LForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,1997},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>LLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,84},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>LShoulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1877},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>MainWeapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,715},{70,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,63}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>MainWeapon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,245},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>Manteau.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1892},{61,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,47}}</string>
                <key>sourceSize</key>
                <string>{61,47}</string>
            </dict>
            <key>RArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1788},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>RForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1775},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>RLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,206},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>RShoulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1916},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>SecondWeapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1892},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1782},{102,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,43}}</string>
                <key>sourceSize</key>
                <string>{102,43}</string>
            </dict>
            <key>TorsoBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>TorsoTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1980},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>dfthh.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,413},{94,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,65}}</string>
                <key>sourceSize</key>
                <string>{94,65}</string>
            </dict>
            <key>dghdfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1762},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>dretgdrfgh.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,841},{71,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,90}}</string>
                <key>sourceSize</key>
                <string>{71,90}</string>
            </dict>
            <key>drfdfd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1543},{88,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,109}}</string>
                <key>sourceSize</key>
                <string>{88,109}</string>
            </dict>
            <key>drfgdrr.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,307},{104,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,67}}</string>
                <key>sourceSize</key>
                <string>{104,67}</string>
            </dict>
            <key>drftgfgg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{129,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,99}}</string>
                <key>sourceSize</key>
                <string>{129,99}</string>
            </dict>
            <key>drgdrft.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,509},{109,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,69}}</string>
                <key>sourceSize</key>
                <string>{109,69}</string>
            </dict>
            <key>drtfgdfgfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1428},{113,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>dtfh.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1555},{205,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,85}}</string>
                <key>sourceSize</key>
                <string>{205,85}</string>
            </dict>
            <key>ed55rty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{102,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,145}}</string>
                <key>sourceSize</key>
                <string>{102,145}</string>
            </dict>
            <key>erffddf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{130,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,99}}</string>
                <key>sourceSize</key>
                <string>{130,99}</string>
            </dict>
            <key>fghfghgfh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{126,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,219}}</string>
                <key>sourceSize</key>
                <string>{126,219}</string>
            </dict>
            <key>fhftht.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{127,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,82}}</string>
                <key>sourceSize</key>
                <string>{127,82}</string>
            </dict>
            <key>ftghghgh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{121,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,118}}</string>
                <key>sourceSize</key>
                <string>{121,118}</string>
            </dict>
            <key>fthgfhghh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1313},{113,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>fthth.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1697},{83,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,107}}</string>
                <key>sourceSize</key>
                <string>{83,107}</string>
            </dict>
            <key>gfhfghfh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1827},{97,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,63}}</string>
                <key>sourceSize</key>
                <string>{97,63}</string>
            </dict>
            <key>gfhfh.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,933},{112,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,73}}</string>
                <key>sourceSize</key>
                <string>{112,73}</string>
            </dict>
            <key>gfhfhddd.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1814},{91,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,61}}</string>
                <key>sourceSize</key>
                <string>{91,61}</string>
            </dict>
            <key>gfhgfhgfh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1197},{115,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,114}}</string>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>gfhghjgj.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1225},{103,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,77}}</string>
                <key>sourceSize</key>
                <string>{103,77}</string>
            </dict>
            <key>gyhjghjg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1633},{109,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,62}}</string>
                <key>sourceSize</key>
                <string>{109,62}</string>
            </dict>
            <key>qqqq.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1525},{28,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,71}}</string>
                <key>sourceSize</key>
                <string>{28,71}</string>
            </dict>
            <key>r6tfurtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1915},{47,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>r6urft.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1392},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>re5yh5yh.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1466},{57,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,71}}</string>
                <key>sourceSize</key>
                <string>{57,71}</string>
            </dict>
            <key>re5yhr.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1762},{50,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>re5yry.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,174},{50,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>redtyghr5y.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,110},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>rtyghfgg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{125,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,101}}</string>
                <key>sourceSize</key>
                <string>{125,101}</string>
            </dict>
            <key>rtyrty.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,620},{93,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,70}}</string>
                <key>sourceSize</key>
                <string>{93,70}</string>
            </dict>
            <key>sedfdsfdf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,98}}</string>
                <key>sourceSize</key>
                <string>{181,98}</string>
            </dict>
            <key>tgyjutgyjtg.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1047},{88,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{88,74}</string>
            </dict>
            <key>trfyhrtfyt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{128,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,80}}</string>
                <key>sourceSize</key>
                <string>{128,80}</string>
            </dict>
            <key>tyghutyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,780},{59,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,70}}</string>
                <key>sourceSize</key>
                <string>{59,70}</string>
            </dict>
            <key>tytytyt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{123,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,82}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>tyututyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1137},{86,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.png</string>
            <key>size</key>
            <string>{202,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48a73faa7c0aba7977576b4c18a36767:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.png</string>
        </dict>
    </dict>
</plist>
