<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Eyesx.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,730},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>Eyesx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,315},{38,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,55}}</string>
                <key>sourceSize</key>
                <string>{38,55}</string>
            </dict>
            <key>Eyesx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,318},{48,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,65}}</string>
                <key>sourceSize</key>
                <string>{48,65}</string>
            </dict>
            <key>Head-1xxxxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,438},{216,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,225}}</string>
                <key>sourceSize</key>
                <string>{216,225}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,220},{216,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,225}}</string>
                <key>sourceSize</key>
                <string>{216,225}</string>
            </dict>
            <key>Head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,750},{223,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,129}}</string>
                <key>sourceSize</key>
                <string>{223,129}</string>
            </dict>
            <key>Head_1x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,566},{223,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,129}}</string>
                <key>sourceSize</key>
                <string>{223,129}</string>
            </dict>
            <key>Head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,568},{173,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,96}}</string>
                <key>sourceSize</key>
                <string>{173,96}</string>
            </dict>
            <key>Head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,772},{154,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,147}}</string>
                <key>sourceSize</key>
                <string>{154,147}</string>
            </dict>
            <key>Head_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,287},{114,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,277}}</string>
                <key>sourceSize</key>
                <string>{114,277}</string>
            </dict>
            <key>Head_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,721},{255,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,129}}</string>
                <key>sourceSize</key>
                <string>{255,129}</string>
            </dict>
            <key>Headx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{216,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,225}}</string>
                <key>sourceSize</key>
                <string>{216,225}</string>
            </dict>
            <key>Headx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{216,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,225}}</string>
                <key>sourceSize</key>
                <string>{216,225}</string>
            </dict>
            <key>Headxxxxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{216,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,225}}</string>
                <key>sourceSize</key>
                <string>{216,225}</string>
            </dict>
            <key>baozha.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,854},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>dizuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,199}}</string>
                <key>sourceSize</key>
                <string>{388,199}</string>
            </dict>
            <key>feidan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,318},{120,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,55}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>guangxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,721},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>guangyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,229},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>guangyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,772},{146,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,147}}</string>
                <key>sourceSize</key>
                <string>{146,147}</string>
            </dict>
            <key>jj.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,2},{271,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,91}}</string>
                <key>sourceSize</key>
                <string>{271,91}</string>
            </dict>
            <key>jj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,287},{279,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,105}}</string>
                <key>sourceSize</key>
                <string>{279,105}</string>
            </dict>
            <key>jj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,312},{38,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,92}}</string>
                <key>sourceSize</key>
                <string>{38,92}</string>
            </dict>
            <key>jj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{283,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,107}}</string>
                <key>sourceSize</key>
                <string>{283,107}</string>
            </dict>
            <key>jj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{311,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,106}}</string>
                <key>sourceSize</key>
                <string>{311,106}</string>
            </dict>
            <key>jj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{314,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,108}}</string>
                <key>sourceSize</key>
                <string>{314,108}</string>
            </dict>
            <key>jj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,361},{307,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,111}}</string>
                <key>sourceSize</key>
                <string>{307,111}</string>
            </dict>
            <key>jj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{308,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,137}}</string>
                <key>sourceSize</key>
                <string>{308,137}</string>
            </dict>
            <key>jj_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,721},{256,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,131}}</string>
                <key>sourceSize</key>
                <string>{256,131}</string>
            </dict>
            <key>jj_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,656},{215,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,114}}</string>
                <key>sourceSize</key>
                <string>{215,114}</string>
            </dict>
            <key>jj_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,666},{82,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,101}}</string>
                <key>sourceSize</key>
                <string>{82,101}</string>
            </dict>
            <key>qibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,392},{57,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,336}}</string>
                <key>sourceSize</key>
                <string>{57,336}</string>
            </dict>
            <key>qiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,697},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>shuijin.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,670},{136,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,295}}</string>
                <key>sourceSize</key>
                <string>{136,295}</string>
            </dict>
            <key>shuijing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{114,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,363}}</string>
                <key>sourceSize</key>
                <string>{114,363}</string>
            </dict>
            <key>xasxasx.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,730},{35,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,13}}</string>
                <key>sourceSize</key>
                <string>{35,13}</string>
            </dict>
            <key>xiehuanguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,392},{269,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,327}}</string>
                <key>sourceSize</key>
                <string>{269,327}</string>
            </dict>
            <key>xxxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,411},{178,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,153}}</string>
                <key>sourceSize</key>
                <string>{178,153}</string>
            </dict>
            <key>yuanyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,315},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.pvr</string>
            <key>size</key>
            <string>{1224,979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:071c9e93e7134cb1b39eaca684817f1a:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.pvr</string>
        </dict>
    </dict>
</plist>
