<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Eyes _2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,544},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>Eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,520},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>Eyes_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,496},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>Eyes_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,676},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>Eyes_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,472},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>Eyes_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,448},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>LLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,422},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>LLeg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,273},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>LLeg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,170},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>LLeg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,189},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>LWing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{81,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,96}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>Mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,700},{52,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,37}}</string>
                <key>sourceSize</key>
                <string>{52,37}</string>
            </dict>
            <key>RLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,781},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>RLeg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,134},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>RLeg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,87},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>RLeg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,68},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>RWing.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,207},{26,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,64}}</string>
                <key>sourceSize</key>
                <string>{26,64}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{94,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,35}}</string>
                <key>sourceSize</key>
                <string>{94,35}</string>
            </dict>
            <key>Tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,754},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>Tail_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,397},{29,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,23}}</string>
                <key>sourceSize</key>
                <string>{29,23}</string>
            </dict>
            <key>TorsoTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{87,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,81}}</string>
                <key>sourceSize</key>
                <string>{87,81}</string>
            </dict>
            <key>dfdf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,641},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>dfgdg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,114}}</string>
                <key>sourceSize</key>
                <string>{64,114}</string>
            </dict>
            <key>dfgdgff.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{108,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,64}}</string>
                <key>sourceSize</key>
                <string>{108,64}</string>
            </dict>
            <key>dfgfdg.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,151},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>dfggddd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{101,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,65}}</string>
                <key>sourceSize</key>
                <string>{101,65}</string>
            </dict>
            <key>dfggg.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,568},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{33,51}</string>
            </dict>
            <key>dfgggg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{92,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,75}}</string>
                <key>sourceSize</key>
                <string>{92,75}</string>
            </dict>
            <key>dgffg.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,621},{36,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,53}}</string>
                <key>sourceSize</key>
                <string>{36,53}</string>
            </dict>
            <key>dgfggg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{51,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,88}}</string>
                <key>sourceSize</key>
                <string>{51,88}</string>
            </dict>
            <key>drfdfgg.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,302},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>er4565.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,781},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{45,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,79}}</string>
                <key>sourceSize</key>
                <string>{45,79}</string>
            </dict>
            <key>fghgh.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,331},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{30,64}</string>
            </dict>
            <key>ghtyty6y5655.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{42,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,90}}</string>
                <key>sourceSize</key>
                <string>{42,90}</string>
            </dict>
            <key>sdfgsfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{61,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,86}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.pvr</string>
            <key>size</key>
            <string>{128,848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4102a484c3c6caa961589f39168108e2:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.pvr</string>
        </dict>
    </dict>
</plist>
