<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>Eyes_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,151},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>Eyes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,187},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>Eyes_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,218},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>Eyes_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,147},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>Eyes_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,230},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>Eyes_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,205},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>Eyes_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,99},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>Eyes_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,51},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,187},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>Head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,197},{8,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{8,6}</string>
            </dict>
            <key>Head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,187},{8,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{8,6}</string>
            </dict>
            <key>Head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,240},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>Head_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,239},{29,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,15}}</string>
                <key>sourceSize</key>
                <string>{29,15}</string>
            </dict>
            <key>Head_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,206},{29,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,15}}</string>
                <key>sourceSize</key>
                <string>{29,15}</string>
            </dict>
            <key>Head_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,240},{25,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,14}}</string>
                <key>sourceSize</key>
                <string>{25,14}</string>
            </dict>
            <key>Helm.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,124},{107,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,47}}</string>
                <key>sourceSize</key>
                <string>{107,47}</string>
            </dict>
            <key>LArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,180},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,29}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>LForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,157},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>LLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,213},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>LShoulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,180},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>MainWeapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,2},{147,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,107}}</string>
                <key>sourceSize</key>
                <string>{147,107}</string>
            </dict>
            <key>MainWeapon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,212},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>RArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,212},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>RForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,151},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>RLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>RShoulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,139},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>SecomdWeapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,206},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,114},{102,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,43}}</string>
                <key>sourceSize</key>
                <string>{102,43}</string>
            </dict>
            <key>TorsoBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,178},{66,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,29}}</string>
                <key>sourceSize</key>
                <string>{66,29}</string>
            </dict>
            <key>TorsoTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,112},{65,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,73}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,205},{37,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,99}}</string>
                <key>sourceSize</key>
                <string>{37,99}</string>
            </dict>
            <key>dgsdfhsdgfasdfgadsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,114},{77,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,140}}</string>
                <key>sourceSize</key>
                <string>{77,140}</string>
            </dict>
            <key>drdrg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{331,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,43}}</string>
                <key>sourceSize</key>
                <string>{331,43}</string>
            </dict>
            <key>huanying.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{217,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,120}}</string>
                <key>sourceSize</key>
                <string>{217,120}</string>
            </dict>
            <key>huanying3.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{200,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,110}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>huanying4.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,139},{155,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,112}}</string>
                <key>sourceSize</key>
                <string>{155,112}</string>
            </dict>
            <key>huanyingx.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{203,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,135}}</string>
                <key>sourceSize</key>
                <string>{203,135}</string>
            </dict>
            <key>qibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,112},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>rtgr.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,110},{147,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,93}}</string>
                <key>sourceSize</key>
                <string>{147,93}</string>
            </dict>
            <key>sedfsdf.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,47},{258,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,115}}</string>
                <key>sourceSize</key>
                <string>{258,115}</string>
            </dict>
            <key>sfsd.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,164},{273,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,80}}</string>
                <key>sourceSize</key>
                <string>{273,80}</string>
            </dict>
            <key>shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,114},{133,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,141}}</string>
                <key>sourceSize</key>
                <string>{133,141}</string>
            </dict>
            <key>shuoshuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,246},{8,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,18}}</string>
                <key>sourceSize</key>
                <string>{8,18}</string>
            </dict>
            <key>tong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,199},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>tong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,112},{30,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,43}}</string>
                <key>sourceSize</key>
                <string>{30,43}</string>
            </dict>
            <key>tong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,206},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>xcxzczxczxvz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,176},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>xvfsdfgdsgsd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,199},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>xxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,206},{60,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,45}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>xxx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{185,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,108}}</string>
                <key>sourceSize</key>
                <string>{185,108}</string>
            </dict>
            <key>xxx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{211,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,106}}</string>
                <key>sourceSize</key>
                <string>{211,106}</string>
            </dict>
            <key>xxx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{207,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,97}}</string>
                <key>sourceSize</key>
                <string>{207,97}</string>
            </dict>
            <key>xxxxxxxxxxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,124},{168,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,80}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.png</string>
            <key>size</key>
            <string>{1521,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e212d74cf9df55b562571ddc3ddb884:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.png</string>
        </dict>
    </dict>
</plist>
