<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,306},{26,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,9}}</string>
                <key>sourceSize</key>
                <string>{26,9}</string>
            </dict>
            <key>Eyes_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,331},{25,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,11}}</string>
                <key>sourceSize</key>
                <string>{25,11}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,334},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>LArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,471},{23,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>LForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,292},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>LForearm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,471},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>LLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,253},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>LLeg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,277},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>LShoulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,134},{59,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,55}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
            <key>LShoulder_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,457},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>MainWeapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,77},{123,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,51}}</string>
                <key>sourceSize</key>
                <string>{123,51}</string>
            </dict>
            <key>MainWeaponx2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{249,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,72}}</string>
                <key>sourceSize</key>
                <string>{249,72}</string>
            </dict>
            <key>RArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,390},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>RForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,292},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>RLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,390},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>RLeg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,195},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>RShoulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{64,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,61}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>RShoulder_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,227},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,438},{112,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{112,31}}</string>
                <key>sourceSize</key>
                <string>{116,33}</string>
            </dict>
            <key>TorsoBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,425},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>TorsoTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,68},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>Weaponx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{250,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,72}}</string>
                <key>sourceSize</key>
                <string>{250,72}</string>
            </dict>
            <key>Weaponx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{249,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,72}}</string>
                <key>sourceSize</key>
                <string>{249,72}</string>
            </dict>
            <key>daguandian.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,344},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>eysda.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,487},{23,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,9}}</string>
                <key>sourceSize</key>
                <string>{23,9}</string>
            </dict>
            <key>guangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>guangyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{146,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,147}}</string>
                <key>sourceSize</key>
                <string>{146,147}</string>
            </dict>
            <key>jiaonang.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,471},{21,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,51}}</string>
                <key>sourceSize</key>
                <string>{21,51}</string>
            </dict>
            <key>liehudeguangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,289},{98,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,147}}</string>
                <key>sourceSize</key>
                <string>{98,147}</string>
            </dict>
            <key>qiangkouhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,344},{110,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,79}}</string>
                <key>sourceSize</key>
                <string>{110,79}</string>
            </dict>
            <key>qqq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,442},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>qqq2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,442},{78,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,62}}</string>
                <key>sourceSize</key>
                <string>{78,62}</string>
            </dict>
            <key>qqq3.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,214},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>qqq4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,425},{77,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,91}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>qqq5.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,214},{134,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,128}}</string>
                <key>sourceSize</key>
                <string>{134,128}</string>
            </dict>
            <key>qqq6.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{73,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,173}}</string>
                <key>sourceSize</key>
                <string>{73,173}</string>
            </dict>
            <key>qqq7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{51,128}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,54},{51,128}}</string>
                <key>sourceSize</key>
                <string>{51,182}</string>
            </dict>
            <key>sda.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,195},{25,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,7}}</string>
                <key>sourceSize</key>
                <string>{25,7}</string>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,63}}</string>
                <key>sourceSize</key>
                <string>{266,63}</string>
            </dict>
            <key>xxa.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,77},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.pvr</string>
            <key>size</key>
            <string>{510,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99f806d3c7d54f18caac8d043e32fa6a:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.pvr</string>
        </dict>
    </dict>
</plist>
