<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,704},{35,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,20}}</string>
                <key>sourceSize</key>
                <string>{35,20}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,817},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,65}</string>
            </dict>
            <key>Head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1032},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>Head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,702},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>LArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,749},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>LEar.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,225},{15,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,22}}</string>
                <key>sourceSize</key>
                <string>{15,22}</string>
            </dict>
            <key>LForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,575},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>LLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,625},{23,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,16}}</string>
                <key>sourceSize</key>
                <string>{23,16}</string>
            </dict>
            <key>LLeg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,842},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>MainWeapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,242},{161,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,90}}</string>
                <key>sourceSize</key>
                <string>{161,90}</string>
            </dict>
            <key>RArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,775},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>REar.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,603},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>RForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,726},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>RLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,798},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>RLeg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,820},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,688},{127,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,43}}</string>
                <key>sourceSize</key>
                <string>{127,43}</string>
            </dict>
            <key>TorsoBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1070},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>TorsoTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,643},{57,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,41}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>biao.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,405},{90,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,53}}</string>
                <key>sourceSize</key>
                <string>{90,53}</string>
            </dict>
            <key>cc01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,758},{264,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,75}}</string>
                <key>sourceSize</key>
                <string>{264,75}</string>
            </dict>
            <key>cc02.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,244},{251,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,75}}</string>
                <key>sourceSize</key>
                <string>{251,75}</string>
            </dict>
            <key>cc03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{276,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,75}}</string>
                <key>sourceSize</key>
                <string>{276,75}</string>
            </dict>
            <key>cc04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{274,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,92}}</string>
                <key>sourceSize</key>
                <string>{274,92}</string>
            </dict>
            <key>cc05.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,758},{263,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,92}}</string>
                <key>sourceSize</key>
                <string>{263,92}</string>
            </dict>
            <key>cc06.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,499},{257,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,90}}</string>
                <key>sourceSize</key>
                <string>{257,90}</string>
            </dict>
            <key>cc07.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,242},{256,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,90}}</string>
                <key>sourceSize</key>
                <string>{256,90}</string>
            </dict>
            <key>ci01.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,465},{108,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,64}}</string>
                <key>sourceSize</key>
                <string>{108,64}</string>
            </dict>
            <key>ci02.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,572},{114,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,61}</string>
            </dict>
            <key>ci03.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,575},{60,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{60,66}</string>
            </dict>
            <key>face01.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,777},{25,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>fenshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,704},{178,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,121}}</string>
                <key>sourceSize</key>
                <string>{178,121}</string>
            </dict>
            <key>fenshen01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,500},{202,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,121}}</string>
                <key>sourceSize</key>
                <string>{202,121}</string>
            </dict>
            <key>fenshen02.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{221,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,121}}</string>
                <key>sourceSize</key>
                <string>{221,121}</string>
            </dict>
            <key>gunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,643},{141,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,7}}</string>
                <key>sourceSize</key>
                <string>{141,7}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,748},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>hand03.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,864},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>lie.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,225},{56,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,15}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>light01.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,786},{10,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,29}}</string>
                <key>sourceSize</key>
                <string>{10,29}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,643},{40,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,17}}</string>
                <key>sourceSize</key>
                <string>{40,17}</string>
            </dict>
            <key>line03.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,963},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1024},{60,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,8}}</string>
                <key>sourceSize</key>
                <string>{60,8}</string>
            </dict>
            <key>mouth01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1070},{20,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,7}}</string>
                <key>sourceSize</key>
                <string>{20,7}</string>
            </dict>
            <key>mutou.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1032},{70,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,13}}</string>
                <key>sourceSize</key>
                <string>{70,13}</string>
            </dict>
            <key>qian.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,242},{214,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,27}}</string>
                <key>sourceSize</key>
                <string>{214,27}</string>
            </dict>
            <key>qiangtou.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,884},{95,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,27}}</string>
                <key>sourceSize</key>
                <string>{95,27}</string>
            </dict>
            <key>qiangtou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,643},{104,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,18}}</string>
                <key>sourceSize</key>
                <string>{104,18}</string>
            </dict>
            <key>qiangtou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,354},{109,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,27}}</string>
                <key>sourceSize</key>
                <string>{109,27}</string>
            </dict>
            <key>shua09.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,986},{91,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,123}}</string>
                <key>sourceSize</key>
                <string>{91,123}</string>
            </dict>
            <key>shua10.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,884},{161,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,100}}</string>
                <key>sourceSize</key>
                <string>{161,100}</string>
            </dict>
            <key>shua11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,240}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>shua12.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{153,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,238}}</string>
                <key>sourceSize</key>
                <string>{153,238}</string>
            </dict>
            <key>shua13.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,225},{33,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,127}}</string>
                <key>sourceSize</key>
                <string>{33,127}</string>
            </dict>
            <key>tx01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{253,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,173}}</string>
                <key>sourceSize</key>
                <string>{253,173}</string>
            </dict>
            <key>tx02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{257,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,134}}</string>
                <key>sourceSize</key>
                <string>{257,134}</string>
            </dict>
            <key>ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,884},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>ying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,460},{78,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,110}}</string>
                <key>sourceSize</key>
                <string>{78,110}</string>
            </dict>
            <key>ying02.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,986},{86,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,117}}</string>
                <key>sourceSize</key>
                <string>{86,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.pvr</string>
            <key>size</key>
            <string>{507,1111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b49a43030bf818a4fbeac45e509978b9:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.pvr</string>
        </dict>
    </dict>
</plist>
