<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>45655.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1256},{54,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,43}}</string>
                <key>sourceSize</key>
                <string>{54,43}</string>
            </dict>
            <key>4gfsf.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,885},{61,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,69}}</string>
                <key>sourceSize</key>
                <string>{61,69}</string>
            </dict>
            <key>6t767.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1255},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>Eyes _1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,952},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>Eyes _3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>Eyes _5.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1198},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>Eyes _6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1255},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>Eyes _7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1224},{32,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,23}}</string>
                <key>sourceSize</key>
                <string>{32,23}</string>
            </dict>
            <key>Eyes _8.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1287},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>Eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1268},{32,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>Eyes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1301},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>Eyes_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1249},{32,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1135},{58,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,63}}</string>
                <key>sourceSize</key>
                <string>{58,63}</string>
            </dict>
            <key>Head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1015},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,56}</string>
            </dict>
            <key>Head_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1135},{58,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,63}}</string>
                <key>sourceSize</key>
                <string>{58,63}</string>
            </dict>
            <key>Heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,1310},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>Helm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,25}}</string>
                <key>sourceSize</key>
                <string>{72,25}</string>
            </dict>
            <key>LArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,711},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>LEar.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1308},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>LForearm _1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1224},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>LForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,139},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>LLeg_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,678},{8,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,15}}</string>
                <key>sourceSize</key>
                <string>{8,15}</string>
            </dict>
            <key>LLeg_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,695},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>LLeg_2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,153},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>LLeg_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,528},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>MainWeapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1198},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>MainWeapon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1073},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>RArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1318},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>REar.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1034},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
            <key>RForearm _1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1310},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>RForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,866},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>RLeg_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,165},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>RLeg_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,661},{8,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,15}}</string>
                <key>sourceSize</key>
                <string>{8,15}</string>
            </dict>
            <key>RLeg_2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,175},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>RLeg_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1301},{9,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,15}}</string>
                <key>sourceSize</key>
                <string>{9,15}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,407},{102,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,43}}</string>
                <key>sourceSize</key>
                <string>{102,43}</string>
            </dict>
            <key>Tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1224},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>TorsoBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1301},{26,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,15}</string>
            </dict>
            <key>TorsoTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1198},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>adadad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{60,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,67}}</string>
                <key>sourceSize</key>
                <string>{60,67}</string>
            </dict>
            <key>afdsfdsfr.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,948},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>asfdsf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{95,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,144}}</string>
                <key>sourceSize</key>
                <string>{95,144}</string>
            </dict>
            <key>aswdsf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{96,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,150}}</string>
                <key>sourceSize</key>
                <string>{96,150}</string>
            </dict>
            <key>awdewqeq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1253},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>cfhfgfh.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,528},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>defdede.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,168}}</string>
                <key>sourceSize</key>
                <string>{135,168}</string>
            </dict>
            <key>dfdfgdfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>dfrtytyt.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,661},{95,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,144}}</string>
                <key>sourceSize</key>
                <string>{95,144}</string>
            </dict>
            <key>drfgddd.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1298},{54,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,32}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
            <key>drhderh.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,198},{74,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,99}}</string>
                <key>sourceSize</key>
                <string>{74,99}</string>
            </dict>
            <key>eedrsewr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1069},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>ert544444.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{66,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,43}}</string>
                <key>sourceSize</key>
                <string>{66,43}</string>
            </dict>
            <key>esrterte.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1140},{56,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,51}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>ewrfwerwe.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1015},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>fghfgh.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,74},{74,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,122}}</string>
                <key>sourceSize</key>
                <string>{74,122}</string>
            </dict>
            <key>ghjhjhj.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,274},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>gjnghjgj.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,452},{74,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,104}}</string>
                <key>sourceSize</key>
                <string>{74,104}</string>
            </dict>
            <key>gyhndgh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{95,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,147}}</string>
                <key>sourceSize</key>
                <string>{95,147}</string>
            </dict>
            <key>gyhutyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{95,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,144}}</string>
                <key>sourceSize</key>
                <string>{95,144}</string>
            </dict>
            <key>jkjkjk.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1195},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>ojkjk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{95,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,149}}</string>
                <key>sourceSize</key>
                <string>{95,149}</string>
            </dict>
            <key>qweq.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1142},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>r5tyh.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>re5656.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1256},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>rtyyyy.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1061},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>sdfdsfsfsd.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,977},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>sdfsfee.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{67,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,73}}</string>
                <key>sourceSize</key>
                <string>{67,73}</string>
            </dict>
            <key>sdfsfs.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,952},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>sedrererfe.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,807},{95,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,143}}</string>
                <key>sourceSize</key>
                <string>{95,143}</string>
            </dict>
            <key>seretret.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{87,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,45}}</string>
                <key>sourceSize</key>
                <string>{87,45}</string>
            </dict>
            <key>sfsdfc.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1096},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>swerer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{95,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,144}}</string>
                <key>sourceSize</key>
                <string>{95,144}</string>
            </dict>
            <key>ujoiuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{95,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,144}}</string>
                <key>sourceSize</key>
                <string>{95,144}</string>
            </dict>
            <key>werwr.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,819},{64,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,55}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>werwrwr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1134},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>zasdsfdsf.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1079},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.png</string>
            <key>size</key>
            <string>{255,1332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c3c83a41b4a3ebbc1790fb23d8c41c8:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.png</string>
        </dict>
    </dict>
</plist>
