<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,151},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>LLunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,157},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>LLunzi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,369},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>LLunzi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,201},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>LLunzi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,318},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>LLunzi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>LWing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{124,58}</string>
            </dict>
            <key>LWing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>LWing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,208},{63,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,44}}</string>
                <key>sourceSize</key>
                <string>{63,44}</string>
            </dict>
            <key>Llunzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,252},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>Llunzi_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,420},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>Llunzi_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,466},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>Llunzi_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,423},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>Llunzi_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,380},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>Llunzi_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,337},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>Llunzi_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,294},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>MainWeapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,417},{81,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,44}}</string>
                <key>sourceSize</key>
                <string>{81,44}</string>
            </dict>
            <key>RLunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,273},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>RWing.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{97,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,47}}</string>
                <key>sourceSize</key>
                <string>{97,47}</string>
            </dict>
            <key>RWing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,321},{94,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,55}}</string>
                <key>sourceSize</key>
                <string>{94,55}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,84}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>TorsoTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{161,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,67}}</string>
                <key>sourceSize</key>
                <string>{161,67}</string>
            </dict>
            <key>atk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{105,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,49}}</string>
                <key>sourceSize</key>
                <string>{105,49}</string>
            </dict>
            <key>atk_1f.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,318},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,44}}</string>
                <key>sourceSize</key>
                <string>{82,44}</string>
            </dict>
            <key>atk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,217},{102,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,56}}</string>
                <key>sourceSize</key>
                <string>{102,56}</string>
            </dict>
            <key>atk_2f.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,101},{86,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,48}}</string>
                <key>sourceSize</key>
                <string>{86,48}</string>
            </dict>
            <key>atk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,217},{99,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,55}}</string>
                <key>sourceSize</key>
                <string>{99,55}</string>
            </dict>
            <key>atk_3f.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,417},{91,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,43}}</string>
                <key>sourceSize</key>
                <string>{91,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.pvr</string>
            <key>size</key>
            <string>{253,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:831c9352763f251c0acac9ce1246ac07:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.pvr</string>
        </dict>
    </dict>
</plist>
