<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,892},{31,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,7}}</string>
                <key>sourceSize</key>
                <string>{31,7}</string>
            </dict>
            <key>Eyes_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,542},{9,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,6}}</string>
                <key>sourceSize</key>
                <string>{9,6}</string>
            </dict>
            <key>Eyes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1789},{41,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,16}}</string>
                <key>sourceSize</key>
                <string>{41,16}</string>
            </dict>
            <key>Eyes_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1714},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1924},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>Head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1516},{58,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,33}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>Head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1984},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>Head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1776},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>Head_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1941},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>LLeg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1136},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>LLeg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1171},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>LLeg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1602},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>LLeg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1748},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>LWing.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1340},{51,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,86}}</string>
                <key>sourceSize</key>
                <string>{51,86}</string>
            </dict>
            <key>LWing_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1930},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>LWing_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,1941},{62,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,43}}</string>
                <key>sourceSize</key>
                <string>{62,43}</string>
            </dict>
            <key>LWing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,67},{70,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,63}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>LWing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1985},{58,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,41}}</string>
                <key>sourceSize</key>
                <string>{58,41}</string>
            </dict>
            <key>LWing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1930},{43,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,78}}</string>
                <key>sourceSize</key>
                <string>{43,78}</string>
            </dict>
            <key>LWing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1873},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>LWing_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1879},{62,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,43}}</string>
                <key>sourceSize</key>
                <string>{62,43}</string>
            </dict>
            <key>LWing_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{70,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,63}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>LWing_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1870},{58,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,41}}</string>
                <key>sourceSize</key>
                <string>{58,41}</string>
            </dict>
            <key>LWing_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1834},{43,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,78}}</string>
                <key>sourceSize</key>
                <string>{43,78}</string>
            </dict>
            <key>RLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1773},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>RLeg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1732},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>RLeg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,393},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>RLeg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,165},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>RWing.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,542},{48,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,96}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1637},{75,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,30}}</string>
                <key>sourceSize</key>
                <string>{77,32}</string>
            </dict>
            <key>Shetou.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1623},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
            <key>Tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1726},{48,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>TorsoTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,132},{69,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,49}}</string>
                <key>sourceSize</key>
                <string>{69,49}</string>
            </dict>
            <key>dbhdfhgf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{186,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,98}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>dfbcdf.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1195},{143,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,86}}</string>
                <key>sourceSize</key>
                <string>{143,86}</string>
            </dict>
            <key>dfbdxf.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1136},{95,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,57}}</string>
                <key>sourceSize</key>
                <string>{95,57}</string>
            </dict>
            <key>dfbfgbf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{192,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,126}}</string>
                <key>sourceSize</key>
                <string>{192,126}</string>
            </dict>
            <key>dfdfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,783},{169,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,107}}</string>
                <key>sourceSize</key>
                <string>{169,107}</string>
            </dict>
            <key>dfdfgf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{166,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,95}}</string>
                <key>sourceSize</key>
                <string>{166,95}</string>
            </dict>
            <key>dfgdfgd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{177,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,102}}</string>
                <key>sourceSize</key>
                <string>{177,102}</string>
            </dict>
            <key>dfgdfv.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{174,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,95}}</string>
                <key>sourceSize</key>
                <string>{174,95}</string>
            </dict>
            <key>dfgdg.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1823},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,38}}</string>
                <key>sourceSize</key>
                <string>{50,38}</string>
            </dict>
            <key>dfvfdg.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,183},{89,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,62}}</string>
                <key>sourceSize</key>
                <string>{89,62}</string>
            </dict>
            <key>dgdfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,412},{101,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,62}}</string>
                <key>sourceSize</key>
                <string>{101,62}</string>
            </dict>
            <key>dsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1809},{120,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,62}}</string>
                <key>sourceSize</key>
                <string>{120,62}</string>
            </dict>
            <key>dsxvsdv.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,101}}</string>
                <key>sourceSize</key>
                <string>{211,101}</string>
            </dict>
            <key>dvgdg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{180,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,108}}</string>
                <key>sourceSize</key>
                <string>{180,108}</string>
            </dict>
            <key>eeee.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{735,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{735,162}}</string>
                <key>sourceSize</key>
                <string>{735,162}</string>
            </dict>
            <key>fdvdfbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{120,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,81}}</string>
                <key>sourceSize</key>
                <string>{120,81}</string>
            </dict>
            <key>fei.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,638},{496,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,106}}</string>
                <key>sourceSize</key>
                <string>{496,106}</string>
            </dict>
            <key>fghfgh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{175,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,77}}</string>
                <key>sourceSize</key>
                <string>{175,77}</string>
            </dict>
            <key>guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{209,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,58}}</string>
                <key>sourceSize</key>
                <string>{209,58}</string>
            </dict>
            <key>gvsdgwet23454444.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,293},{4,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,3}}</string>
                <key>sourceSize</key>
                <string>{4,3}</string>
            </dict>
            <key>huoqiu_7 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1832},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>huoqiu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1875},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>kulou.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,592},{44,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,96}}</string>
                <key>sourceSize</key>
                <string>{44,96}</string>
            </dict>
            <key>kulou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1794},{38,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,81}}</string>
                <key>sourceSize</key>
                <string>{38,81}</string>
            </dict>
            <key>lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1576},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1873},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>sdvsd.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,247},{163,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,86}}</string>
                <key>sourceSize</key>
                <string>{163,86}</string>
            </dict>
            <key>tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1192},{19,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,322}}</string>
                <key>sourceSize</key>
                <string>{19,322}</string>
            </dict>
            <key>wwww.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1393},{399,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,83}}</string>
                <key>sourceSize</key>
                <string>{399,83}</string>
            </dict>
            <key>zdfdsdsfs.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,476},{97,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,64}}</string>
                <key>sourceSize</key>
                <string>{97,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.pvr</string>
            <key>size</key>
            <string>{287,2029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aff1b6a0be2733d8ab2f09c9e48ee79a:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.pvr</string>
        </dict>
    </dict>
</plist>
