<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{182,279}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,279}}</string>
                <key>sourceSize</key>
                <string>{184,279}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1360},{194,203}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{194,203}}</string>
                <key>sourceSize</key>
                <string>{196,203}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1894},{194,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,152}}</string>
                <key>sourceSize</key>
                <string>{194,152}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1108},{213,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,78}}</string>
                <key>sourceSize</key>
                <string>{213,78}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,861},{207,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,194}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,585},{180,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,188}}</string>
                <key>sourceSize</key>
                <string>{180,188}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1070},{173,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,161}}</string>
                <key>sourceSize</key>
                <string>{173,161}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1389},{184,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,235}}</string>
                <key>sourceSize</key>
                <string>{184,235}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{146,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,266}}</string>
                <key>sourceSize</key>
                <string>{146,266}</string>
            </dict>
            <key>Eyesascascvasv.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,446},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>Eyesascascvasv_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1325},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>Eyesascascvasv_ss.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1306},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>Eyesasfasf.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1623},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,9}}</string>
                <key>sourceSize</key>
                <string>{13,9}</string>
            </dict>
            <key>Eyesasfasf_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1894},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,9}}</string>
                <key>sourceSize</key>
                <string>{13,9}</string>
            </dict>
            <key>Eyesasfasf_ss.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1894},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,9}}</string>
                <key>sourceSize</key>
                <string>{13,9}</string>
            </dict>
            <key>Eyesasfasfgsa.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1623},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,9}}</string>
                <key>sourceSize</key>
                <string>{13,9}</string>
            </dict>
            <key>Eyesdsgdsgbsdg.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,446},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>Head-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1728},{104,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,88}}</string>
                <key>sourceSize</key>
                <string>{104,88}</string>
            </dict>
            <key>Head-1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1815},{104,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,88}}</string>
                <key>sourceSize</key>
                <string>{104,88}</string>
            </dict>
            <key>Head-1_ss.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1622},{104,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,88}}</string>
                <key>sourceSize</key>
                <string>{104,88}</string>
            </dict>
            <key>Head-1xxxxxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1284},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>Head_1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1996},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>Head_1-1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1994},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>Head_1-1_ss.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1943},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>Headxasfasxsaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1623},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>Neck_1x.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1554},{62,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{62,71}</string>
            </dict>
            <key>Neck_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1382},{45,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,79}}</string>
                <key>sourceSize</key>
                <string>{45,79}</string>
            </dict>
            <key>Neck_3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,775},{35,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,66}}</string>
                <key>sourceSize</key>
                <string>{35,66}</string>
            </dict>
            <key>Neck_4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1776},{43,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,72}}</string>
                <key>sourceSize</key>
                <string>{43,72}</string>
            </dict>
            <key>adsgadsca.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,460}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>asdfafsdgsd.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2006},{40,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,49}}</string>
                <key>sourceSize</key>
                <string>{40,49}</string>
            </dict>
            <key>asdgasdg-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,102},{27,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,48}}</string>
                <key>sourceSize</key>
                <string>{27,48}</string>
            </dict>
            <key>asdgasdg-1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,52},{27,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,48}}</string>
                <key>sourceSize</key>
                <string>{27,48}</string>
            </dict>
            <key>asdgasdg-1_ss.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{27,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,48}}</string>
                <key>sourceSize</key>
                <string>{27,48}</string>
            </dict>
            <key>asdgasdgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1850},{99,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,91}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>asdgasdgx_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1860},{99,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,91}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>asdgasdgx_ss.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1905},{99,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,91}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>asf.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{42,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,293}}</string>
                <key>sourceSize</key>
                <string>{42,293}</string>
            </dict>
            <key>asfgacxas.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{395,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,395}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
            <key>ashfbajsf.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2008},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>bingdan.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1565},{178,71}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{178,71}}</string>
                <key>sourceSize</key>
                <string>{188,73}</string>
            </dict>
            <key>bozi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1815},{62,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{62,71}</string>
            </dict>
            <key>bozi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1961},{45,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,79}}</string>
                <key>sourceSize</key>
                <string>{45,79}</string>
            </dict>
            <key>bozi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1323},{35,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,66}}</string>
                <key>sourceSize</key>
                <string>{35,66}</string>
            </dict>
            <key>bozi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1702},{43,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,72}}</string>
                <key>sourceSize</key>
                <string>{43,72}</string>
            </dict>
            <key>houqianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1812},{30,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,43}}</string>
                <key>sourceSize</key>
                <string>{30,43}</string>
            </dict>
            <key>houshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2005},{35,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,62}}</string>
                <key>sourceSize</key>
                <string>{35,62}</string>
            </dict>
            <key>houzhua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1596},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>houzhua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1260},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>houzhua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1834},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>kouqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1767},{99,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,91}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>light_E_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1493},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>light_E_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{245,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,245}}</string>
                <key>sourceSize</key>
                <string>{245,245}</string>
            </dict>
            <key>qianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2006},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{336,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,47}}</string>
                <key>sourceSize</key>
                <string>{336,47}</string>
            </dict>
            <key>shangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1618},{51,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,82}}</string>
                <key>sourceSize</key>
                <string>{51,82}</string>
            </dict>
            <key>shengbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1905},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1638},{127,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,86}}</string>
                <key>sourceSize</key>
                <string>{127,86}</string>
            </dict>
            <key>shetou.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2031},{26,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,15}</string>
            </dict>
            <key>shouzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1857},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,340},{104,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,88}}</string>
                <key>sourceSize</key>
                <string>{104,88}</string>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,911},{139,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,195}}</string>
                <key>sourceSize</key>
                <string>{139,195}</string>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1108},{150,145}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{150,145}}</string>
                <key>sourceSize</key>
                <string>{152,145}</string>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1382},{153,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,109}}</string>
                <key>sourceSize</key>
                <string>{153,109}</string>
            </dict>
            <key>x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1638},{172,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,61}}</string>
                <key>sourceSize</key>
                <string>{172,61}</string>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1233},{169,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,125}}</string>
                <key>sourceSize</key>
                <string>{169,125}</string>
            </dict>
            <key>x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,775},{134,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,141}}</string>
                <key>sourceSize</key>
                <string>{134,141}</string>
            </dict>
            <key>x7.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1260},{129,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,120}}</string>
                <key>sourceSize</key>
                <string>{129,120}</string>
            </dict>
            <key>x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1638},{137,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,175}}</string>
                <key>sourceSize</key>
                <string>{137,175}</string>
            </dict>
            <key>x9.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,464},{119,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,187}}</string>
                <key>sourceSize</key>
                <string>{119,187}</string>
            </dict>
            <key>xaxai.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,102},{27,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,48}}</string>
                <key>sourceSize</key>
                <string>{27,48}</string>
            </dict>
            <key>xiaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,297},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>yuanxing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1565},{29,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,14}}</string>
                <key>sourceSize</key>
                <string>{29,14}</string>
            </dict>
            <key>yuanxing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1070},{33,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,15}}</string>
                <key>sourceSize</key>
                <string>{33,15}</string>
            </dict>
            <key>zhijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1463},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>zhijia2.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2008},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>zhijia3.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1360},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>zhuazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1943},{55,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>zhuazisadfasf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1493},{73,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,59}}</string>
                <key>sourceSize</key>
                <string>{73,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.pvr</string>
            <key>size</key>
            <string>{588,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4bc28ebf77c8607b78287b57c28298a:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.pvr</string>
        </dict>
    </dict>
</plist>
