<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,161},{31,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,10}}</string>
                <key>sourceSize</key>
                <string>{31,10}</string>
            </dict>
            <key>Eyes11.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,161},{31,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,10}}</string>
                <key>sourceSize</key>
                <string>{31,10}</string>
            </dict>
            <key>Eyes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,187},{28,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,7}}</string>
                <key>sourceSize</key>
                <string>{28,7}</string>
            </dict>
            <key>Eyes_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,156},{30,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,5}}</string>
                <key>sourceSize</key>
                <string>{30,5}</string>
            </dict>
            <key>Eyes_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,156},{29,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,11}}</string>
                <key>sourceSize</key>
                <string>{29,11}</string>
            </dict>
            <key>Hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,145},{95,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,49}}</string>
                <key>sourceSize</key>
                <string>{95,49}</string>
            </dict>
            <key>Hair_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,156},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>Hair_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,156},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>Hari_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,156},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,138},{43,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,55}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>Head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,140},{43,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,55}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>Head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,140},{43,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,55}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>Head_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,151},{43,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,55}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>LArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,161},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>LEar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,173},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>LForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,173},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>LLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,132},{57,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,39}}</string>
                <key>sourceSize</key>
                <string>{57,39}</string>
            </dict>
            <key>RArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,181},{12,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,23}}</string>
                <key>sourceSize</key>
                <string>{12,23}</string>
            </dict>
            <key>REar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,181},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>RForearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,181},{25,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,12}}</string>
                <key>sourceSize</key>
                <string>{25,12}</string>
            </dict>
            <key>RLeg.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,161},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,161},{75,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,30}}</string>
                <key>sourceSize</key>
                <string>{77,32}</string>
            </dict>
            <key>TorsoBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,138},{84,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,41}}</string>
                <key>sourceSize</key>
                <string>{84,41}</string>
            </dict>
            <key>TorsoTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,156},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>Yfu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,145},{47,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,19}}</string>
                <key>sourceSize</key>
                <string>{47,19}</string>
            </dict>
            <key>Yifu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,186},{26,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,8}}</string>
                <key>sourceSize</key>
                <string>{26,8}</string>
            </dict>
            <key>guang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{236,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,152}}</string>
                <key>sourceSize</key>
                <string>{236,152}</string>
            </dict>
            <key>guang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,140},{25,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,45}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>guang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,140},{25,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,156},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,125},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>meimao.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,156},{38,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,17}}</string>
                <key>sourceSize</key>
                <string>{38,17}</string>
            </dict>
            <key>quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,151},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>shan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,192}}</string>
                <key>sourceSize</key>
                <string>{196,192}</string>
            </dict>
            <key>yan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{107,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,157}}</string>
                <key>sourceSize</key>
                <string>{107,157}</string>
            </dict>
            <key>yan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{113,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,147}}</string>
                <key>sourceSize</key>
                <string>{113,147}</string>
            </dict>
            <key>yan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{123,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,141}}</string>
                <key>sourceSize</key>
                <string>{123,141}</string>
            </dict>
            <key>yan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>yan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{136,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,133}}</string>
                <key>sourceSize</key>
                <string>{136,133}</string>
            </dict>
            <key>yan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,2},{128,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,108}}</string>
                <key>sourceSize</key>
                <string>{128,108}</string>
            </dict>
            <key>yan7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,2},{121,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,79}}</string>
                <key>sourceSize</key>
                <string>{121,79}</string>
            </dict>
            <key>zhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{188,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,152}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet.pvr</string>
            <key>size</key>
            <string>{1403,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95d1824e86bdef1835fca1fd6c0ef04e:1/1$</string>
            <key>textureFileName</key>
            <string>sheet.pvr</string>
        </dict>
    </dict>
</plist>
